<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ZSSN - sobreviventes</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="">ZSSN</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="http://127.0.0.1:8000/">Sobreviventes <span class="sr-only">(Página atual)</span></a>
			</li>
			<li class="nav-item active">
			  <a class="nav-link" href="http://127.0.0.1:8000/itens">Itens</a>
			</li>
			<li class="nav-item active">
			  <a class="nav-link" href="http://127.0.0.1:8000/relatorios/">Relatorios</a>
			</li>
		  </ul>
		</div>
	  </nav>

</head>
<body>

    <div id="addUsuarioModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addUsuarioModalLabel">Cadastrar Sobreviventes</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="post" id="insert_form">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Nome</label>
							<div class="col-sm-10">
								<input name="nome" type="text" class="form-control" id="nome" >
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Idade</label>
							<div class="col-sm-10">
								<input name="idade" type="text" class="form-control" id="idade" >
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Sexo</label>
							<div class="col-sm-10">
								<input name="sexo" type="text" class="form-control" id="sexo" >
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Latitude</label>
							<div class="col-sm-10">
								<input name="latitude" type="text" class="form-control" id="latitude">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Longitude</label>
							<div class="col-sm-10">
								<input name="longitude" type="text" class="form-control" id="longitude" >
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-10">
								<input type="submit" name="CadUser" id="CadUser" value="Cadastrar" class="btn  btn-outline-primary">
							</div>
						</div>
					</form>
					<form action="POST" id="form-item">
						<button class="form-group" type="button" id="add-campo"> + </button>

						<div class="form-group row" id="item">
							<div class="form-group col-sm-5">
								<label>Item </label>
								<select   class="form-control" id="i0">
								<option value="">Escolha um item</option>
								 {% for item in itens %}
									<option value="{{ item.inventario_id }}">{{ item.nome_item }}</option>
								 {% endfor %}
								</select>
							</div>
							<div class="form-group col-sm-5">
								<label>Quantidade </label>
								<input class="form-control" type="text"  id="q0">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="form-group col-sm-4">

</div>

 <div class="container" id="info" style="margin-top: 50px;">
 	<h2>Sobreviventes</h2>
 	<br>

	  <table class="table" id="table">
	    <tr>
	      <th scope="col">Nome</th>
	      <th scope="col">Idade</th>
	      <th scope="col">Sexo</th>
	      <th scope="col">Localização</th>
	      <th scope="col">Infectato</th>
	      <th><button  type='button' id="create" class='btn btn-sm  btn-success' data-toggle='modal' data-target='#addUsuarioModal' > Criar </button> <br /></th>
	    </tr>
	    
	  </table>
 </div>

<script>
	function alertar(mensagem, erro){
		if(erro == true){
			toastr.error(mensagem);
		}else{
			toastr.success(mensagem);
		}
	}
	
	var qtdbnt = 1
	//adição de novo campo para novo item
	$("#add-campo").click(function () {
		// população do combobox
		$("#item").append(`
			<div class="form-group col-sm-5">
				<label>Item </label>
				<select   class="form-control" id="i${qtdbnt}">
					<option value="">Escolha um item</option>
					{% for item in itens %}
					<option value="{{ item.inventario_id }}">{{ item.nome_item }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group col-sm-5">
				<label>Quantidade </label>
				<input type="text" name="quantiadde" id="q${qtdbnt}">
			</div>
			`);
			qtdbnt += 1 
	});

	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');
	
	var primeiraexc = false; 

	// recebe dados atraves de uma chamada de API vira url cadastrada para ppulação de informações
    function mostrarSobreviventes(){
        var tabela = document.getElementById('table')

        var url = 'http://127.0.0.1:8000/sobreviventes/'
		
        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
			if(primeiraexc == false){
				var list = data;
				for(var i in list){

					var sobrevivente = `
						<tr id="${list[i].sobreviventes_id}">
							<td> ${list[i].nome_sobrevivente} </td>
							<td> ${list[i].idade_sobrevivente} </td>
							<td> ${list[i].sexo_sobrevivente} </td>
							<td> ${list[i].latitude_sobrevivente}, ${list[i].longitude_sobrevivente} </td>
							<td> ${list[i].infectato} </td>
							<td><button class="btn btn-sm btn-info" onclick="location.href='http://127.0.0.1:8000/editar/${list[i].sobreviventes_id}/'">Editar</button></td>
							<td><button class="btn btn-sm btn-danger" onclick="deletarsobrevivente(${list[i].sobreviventes_id})">Apagar</button></td>
						</tr>
					`
					
					tabela.innerHTML += sobrevivente
				}
				primeiraexc = true
			}else{
				console.log('2')
				var list = data;
				var sobrevivente = `
					<tr id="${list[list.length - 1].sobreviventes_id}">
						<td> ${list[list.length - 1].nome_sobrevivente} </td>
						<td> ${list[list.length - 1].idade_sobrevivente} </td>
						<td> ${list[list.length - 1].sexo_sobrevivente} </td>
						<td> ${list[list.length - 1].latitude_sobrevivente}, ${list[list.length - 1].longitude_sobrevivente} </td>
						<td> ${list[list.length - 1].infectato} </td>
						<td><button class="btn btn-sm btn-info" onclick="location.href='http://127.0.0.1:8000/editar/${list[list.length - 1].sobreviventes_id}/'">Editar</button></td>
						<td><button class="btn btn-sm btn-danger" onclick="deletarsobrevivente(${list[list.length - 1].sobreviventes_id})">Apagar</button></td>
					</tr>
					`

					tabela.innerHTML += sobrevivente
			}

        })

    }
    mostrarSobreviventes();

	//adicionar novo sobrevivente atraves de metodo POST
	var form = document.getElementById('insert_form')
	form.addEventListener('submit', function(e){
		e.preventDefault()
		console.log('Form submitted')
		var url = 'http://127.0.0.1:8000/sobreviventes/adicionarsobrevivente/'


		var nome = document.getElementById('nome').value
		var idade = document.getElementById('idade').value
		var sexo = document.getElementById('sexo').value
		var latitude = document.getElementById('latitude').value
		var longitude = document.getElementById('longitude').value

		var a = 0
		var itens = []
		while (a < qtdbnt){

			inventario_id = document.getElementById('i'+a).value
			qtd = document.getElementById('q'+a).value

			itens.push(
			{
				'inventario_id': inventario_id,
				'qtd': qtd
			})
			a += 1
		}

		console.log(itens)

		fetch(url, {
			method:'POST',
			headers:{
				'content-type':'application/json',
				'X-CSRFToken':csrftoken,
			},
			body:JSON.stringify({'nome_sobrevivente':nome,
								 'idade_sobrevivente': idade,
								 'sexo_sobrevivente': sexo,
								 'latitude_sobrevivente': latitude,
								 'longitude_sobrevivente': longitude,
								 'infectato': false,
								 'flags_infectado': 0,
								 'itens': itens
								})
		}
		).then(function(response){
			var resultado

			response.text()
			.then(function(result) {
					resultado = result
					console.log(resultado)
					if(resultado == '"Sobrevivente adicionado com sucesso!"'){
						mostrarSobreviventes()
						alertar(resultado, false)

					}else{
						alertar(resultado, true)
					}
				})
			
			$('#addUsuarioModal').modal('hide');
			document.getElementById('insert_form').reset()

		})
	})

	//Deletar sobrevivente atraves de metodo DELETE
	function deletarsobrevivente(sobrevivente){

			fetch(`http://127.0.0.1:8000/sobreviventes/deletarsobrevivente/${sobrevivente}/`, {
				method:'DELETE', 
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				}
			}).then((response) => {
					var deletado = document.getElementById(sobrevivente);
					deletado.parentNode.removeChild(deletado);

					var resultado

					response.text()
					.then(function(result) {
							resultado = result
							console.log(resultado)
							if(resultado == '"Sobrevivente adicionado com sucesso!"'){
								mostrarSobreviventes()
								alertar(resultado, false)

							}else{
								alertar(resultado, true)
							}
						})

					})
					}
</script>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>